:root.theme-dark {
  --bg-img: url(../images/cover-image-dark.png);
  --content-subtitle-color: #f1b2ce; /*text*/
  --content-title-color: #ff0070; /*contents color from accent*/
  --title-color: #db00ff;
  --accent-color: #ff0070; /*shadow+decor*/
  --color-element: #ff0070;
  --bg-color: #000028;
  --decorated-element-display: flex;
  --color-actions: rgba(255, 0, 112, 0.4); /*hover*/
  --color-actions-link: #f1b2ce;
  --color-decor-title: #000028;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-img: url(../images/cover-image-dark.png);
    --content-subtitle-color: #f1b2ce; /*text*/
    --content-title-color: #ff0070; /*contents color from accent*/
    --title-color: #db00ff;
    --accent-color: #ff0070; /*shadow+decor*/
    --color-element: #ff0070;
    --bg-color: #000028; /*subtitle color text*/
    --decorated-element-display: flex;
    --color-actions: rgba(255, 0, 112, 0.4); /*hover*/
    --color-actions-link: #f1b2ce;
    --color-decor-title: #000028;
  }
}