.page {
  font-family: var(--font-family-main), monospace;
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color);
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  min-block-size: 668px;
  height: 100vh;
}
/* Общие декоративные стили */
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-style: solid;
  border-color: var(--color-element);
  z-index: 1;
}

.decorated-zone::before {
  inset-inline-end: 10px;
  inset-block-start: 10px;
  border-width: 1px 1px 0 0;
}

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-width: 0 0 1px 1px;
}

.decorated-element {
  font-family: var(--font-family-main), monospace;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 25px;
  text-align: center;
  position: absolute;
  color: var(--accent-color);
  text-transform: uppercase;
  display: var(--decorated-element-display);
  align-items: center;
  gap: 10px;
  inset-block-start: 10px;
  inset-inline-end: 20px;
}

.decorated-element::after {
  content: "";
  display: inline-flex;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px;
}
/*расположение кнопок*/
.header__theme-menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-top: 10px;
}

/*растановка кнопок*/
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 10px;
}

.header__theme-menu-item {
  align-self: center;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  inline-size: 70px;
  block-size: 26px;
  font-family: var(--font-family-main), monospace;
  color: var(--color-element);
  font-weight: 400;
  font-size: var(--font-size);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-actions);
}

.header__theme-menu-button:disabled {
  outline: 1px solid var(--color-element);
}

.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-element);
}

.header__title {
  display: block;
  font-family: var(--font-family-main), monospace;
  font-weight: 700;
  font-size: var(--font-size-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  line-height: 83%;
  letter-spacing: -2px;
}

/*блок с текстом в шапке*/
.header__subtitle {
  font-family: var(--font-family-main), monospace;
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  background-color: var(--accent-color);
  text-align: start;
  color: var(--color-decor-title);
  height: min-content;
  justify-self: end;
  align-self: center;
  margin-bottom: 10px;
}

main {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

/*секция 40 отступов*/
.content__description {
  font-family: var(--font-family-main), monospace;
  padding-block-start: 40px;
}

.content__title {
  font-family: var(--font-family-main), monospace;
  font-weight: 700;
  font-size: var(--font-size);
  color: var(--content-title-color);
  line-height: 23px;
  text-align: left;
  overflow-wrap: break-word;
}

/*отступы у абзацев*/
.content__subtitle {
  display: inline-block;
  margin-block-start: 10px;
  font-family: var(--font-family-main), monospace;
  font-weight: 400;
  color: var(--content-subtitle-color);
  font-size: var(--font-size);
  line-height: 23.4px;
}
/*meow meow*/
.content__link {
  position: relative;
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.content__link:hover::after {
  content: "";
  inset: 0;
  position: absolute;
  border-bottom: 1px solid;
}

.content__link:focus {
  outline: none;
  border-bottom: none;
}

.content__link:focus-visible {
  outline: 1px solid var(--color-actions-link);
}

/*20px*/
.title-decor {
  background-color: var(--accent-color);
  font-size: var(--font-size);
  margin-block-start: 20px;
  color: var(--color-decor-title);
}

/*секция 50 отступов*/
.content__description__focus {
  margin-block-start: 53px;
}

.content__description__focus h4 {
font-weight: 400;
}

.content__description__concentration .content__title {
  margin-block-start: 50px;
}

.visual__content {
  display: grid;
  gap: 10px;
  margin-bottom: 40px;
}

.visual__content-decor {
  background-color: var(--accent-color);
  font-size: var(--font-size);
  font-family: var(--font-family-main), monospace;
  margin-block-start: 50px;
  color: var(--color-decor-title);
}

.gallery {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  min-block-size: 668px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-family: var(--font-family-main), monospace;
  font-weight: 700;
  font-size: var(--font-size-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  line-height: 96px;
}