/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  --main-color: #F1B2CE;
  --bg-color: #000028;
  --accent-color: #DB00FF;
  --shadow-color: #FF0070;
  --shadow-color-transparent: #FF007066;
  --page-headers-color: #FF0070;
  --title-decor-color: #000028;
  --bold-font: 700;
  --padding: 10px;
  --bg-image: url(../images/cover-image-dark.png);
}

@media (width >= 768px) {
  :root {
    --padding: 20px;
  }
}