:root {
  --bg-img: url(../images/cover-image-light.png);
  --font-family-main: IBM Plex Mono;
  --font-size: 18px;
  --font-size-title: clamp(116px, calc(14.45vw + 8.96px), 157px);
  --font-size-title-desk: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --content-subtitle-color: #353430; /*text*/
  --content-title-color: #353430; /*contents color from accent*/
  --accent-color: #ff8dcb; /*shadow+decor for neon*/
  --color-element: #353430;
  --title-color: #ffc2e6;
  --bg-color: #fff1f7; /*subtitle color text*/
  --decorated-element-display: none;
  --color-actions: rgba(50, 49, 45, 0.4); /*hover*/
  --color-actions-link:#353430;
  --color-decor-title: #353430;
}